@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 180 100% 100%;
    --foreground: 213 36% 5%;

    --card: 180 100% 100%;
    --card-foreground: 213 36% 5%;
 
    --popover: 180 100% 100%;
    --popover-foreground: 213 36% 5%;
 
    --primary: 213 16% 14%;
    --primary-foreground: 180 100% 100%;
    /* --primary: 222.2 47.4% 11.2%; */
    /* --primary-foreground: 210 40% 98%; */
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    /* --accent: 210 40% 96.1%; */
    /* --accent-foreground: 222.2 47.4% 11.2%; */
    --accent: 37 91% 54%;
    --accent-foreground: 37 89% 97%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 213 36% 5%;
    --foreground: 180 100% 100%;
 
    --card: 213 36% 5%;
    --card-foreground: 180 100% 100%;
 
    --popover: 213 36% 5%;
    --popover-foreground:180 100% 100%;
 
    --primary: 180 100% 100%;
    --primary-foreground: 213 16% 14%;
    /* --primary: 210 40% 98%; */
    /* --primary-foreground: 222.2 47.4% 11.2%; */
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    /* --accent: 217.2 32.6% 17.5%; */
    /* --accent-foreground: 210 40% 98%; */
    --accent: 37 89% 97%;
    --accent-foreground: 37 91% 54%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

h1 {
  @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
}
h2 {
  @apply scroll-m-20 text-3xl font-bold tracking-tight first:mt-0;
}
h3 {
  @apply scroll-m-20 text-2xl font-semibold tracking-tight;
}
h4 {
  @apply scroll-m-20 text-xl font-semibold tracking-tight;
}
p {
 @apply leading-relaxed [&:not(:first-child)]:mt-6;
}
blockquote {
  @apply mt-6 border-l-2 pl-6 italic
}
ul {
  @apply my-6 ml-6 list-disc [&>li]:mt-2
}

@layer utilities {
  .flicker {
    /* -webkit-transform: translate3d(0, 0, 0); */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .flicker-wrapper {
    -webkit-transform-style: preserve-3d;
  }
  .flicker-child{
    -webkit-backdrop-filter: blur(3.5px);
  }
  .pause {
    animation-play-state: paused;
  }
  .faster {
    animation-duration: 7s;
  }
  .no-highlights {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}